<modal-opener class="product__modal-opener product__modal-opener--{{ media.media_type }} no-js-hidden product-thumbnail-mains" data-modal="#ProductModal-{{ modal_id }}">
  <span class="product__media-icon motion-reduce quick-add-hidden" aria-hidden="true">
    {%- liquid
      case media.media_type
      when 'video' or 'external_video'
        render 'icon-play'
      when 'model'
        render 'icon-3d-model'
      else
        render 'icon-zoom'
      endcase
    -%}
  </span>

  <div class="product__media media media--transparent gradient global-media-settings" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
    {{ media.preview_image | image_url: width: 1946 | image_tag:
      loading: lazy,
      sizes: sizes,
      widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
      alt: media.preview_image.alt | escape
    }}
  </div>

  <button class="product__media-toggle quick-add-hidden" type="button" aria-haspopup="dialog" data-media-id="{{ media.id }}">
    <span class="visually-hidden">
      {{ 'products.product.media.open_media' | t: index: position }}
    </span>
  </button>
  
</modal-opener>

